
<h2> The below message is from first.component.html</h2>
<p>first component works!</p>
<p>In order to have first component render on the page: </p>
<ul>
    <li> first, we setup the templateUR: first.component.html under @Component</li>
    <li> second, setup all html </li>
    <li> third, update the "selector" from @Component in app.component.html (main html rendering)</li>
</ul>

<h2> There are {{appFirst.length}} Krystals </h2>

<ul>
    <li *ngFor = "let eachKrystal of appFirst">
        {{eachKrystal}}
    </li>
</ul>

